<html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="https://telegra.ph/file/ccba9696db89a8598b8fe.png">
        <title>Search Results</title>
        
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@100;500&display=swap');
    



    </style>
    </head>
    <body>
        <center><h2>
        <div class="header" ><img src="https://telegra.ph/file/ccba9696db89a8598b8fe.png" alt="" style="max-width: 100px;"></div>
        <div class="header" style="border-radius: 20px;font-family:monospace;font-size:30px;align-self: center;vertical-align: middle;width: 50%; margin-top:2%">Search Results</div>
        </center></h2>
        <div class="gridcontainer" style="padding-top:1%;border-radius: 20px; align-self: center;vertical-align: middle;width: 100%;">
        <h1><center>{{output}} </center></h1>
        </div>
    </body>
    </html>